@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
}


<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">Welcome To My Home!</div>
			<div class="intro-heading">It's Nice To Meet You</div>
			@*<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>*@
		</div>
	</div>
</header>
<!-- Projects Section -->
<section id="projects">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Projects</h2>
				<h3 class="section-subheading text-muted">진행중인 프로젝트</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<a href="/kbochart" class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
				</a>
				<h4 class="service-heading">프로야구 게임차 그래프</h4>
				<p class="text-muted">시즌별 구단의 게임차를 기준으로 나타난 그래프</p>
				@*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>*@
			</div>
			<div class="col-md-4">
				<a href="http://luciahandmadecard.com/" class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
				</a>
				<h4 class="service-heading">Lucia Handmade</h4>
				<p class="text-muted">루치아 여사님의 수제카드 쇼핑몰</p>
			</div>
			@*<div class="col-md-4">
				<a href="/blog" class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
				</a>
				<h4 class="service-heading">jkw's Blog!</h4>
				<p class="text-muted">전경원의 소소한 블로그</p>
			</div>*@
			<div class="col-md-4">
				<a href="/diary" class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
				</a>
				<h4 class="service-heading">Diary</h4>
				<p class="text-muted">일촌공개 일기장</p>
			</div>
			@*<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Web Security</h4>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
				</div>*@
		</div>
	</div>
</section>
<!-- Games Grid Section -->
<section id="games" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Games</h2>
				<h3 class="section-subheading text-muted">간단한 !게!임!을 즐길 수 있습니다!</h3>
			</div>
		</div>
		<div class="row">
			@foreach (var game in @Model.games)
			{
				<div class="col-md-4 col-sm-6 game-item">
					<a href="/games/@game.EngName" class="game-link" data-toggle="modal">
						<div class="game-hover">
							<div class="game-hover-content">
								<i class="fa fa-th fa-3x"></i>
							</div>
						</div>
						<img src="@game.Thumbnail" class="img-responsive" alt="">
					</a>
					<div class="game-caption">
						<h4>@game.KorName</h4>
						<p class="text-muted"></p>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<!-- About Section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
				<h3 class="section-subheading text-muted"></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				@*<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="/Static/Agency/img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2009-2011</h4>
									<h4 class="subheading">Our Humble Beginnings</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
								</div>
							</div>
						</li>
					</ul>*@
			</div>
		</div>
	</div>
</section>


@section Css
{
	<link href="/Static/css/jkwBlogHome.css" rel="stylesheet">
	<link href="/Static/css/prism.css" rel="stylesheet">
	<style type="text/css">
			header {
				background-image: url(@Model.BackGroundFileName);
			}
	</style>
}

@section Javascript
{
	<script type="text/javascript">
		$(document).ready(function () {
			@*
				메인화면은 div 한단계 밖으로 뺀다.
				css 를 잘 수정하면 될것도 같지만 귀찮..
				나중에 전체 개편할 때 잘 해보자는 마음..
			*@
			$('div#layout-content').before($('div#layout-content').children());
		});
	</script>
}

@section JavascriptRelease
{
}