@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
	string redirectUrl = Model.isDebug ? "http://localhost/oauth/login" : "http://hellojkw.com/oauth/login";
	string loginUrl = "https://accounts.google.com/o/oauth2/auth?client_id=381224079549-pmkekmoko01ss0uqle22q0btsam7nluh.apps.googleusercontent.com&redirect_uri=" + redirectUrl + "&scope=https://www.googleapis.com/auth/plus.login&response_type=code";
}

<h2>Hello Jkw 와 함께하세요!</h2>

<p>
	현재 로그인은 구글만 지원하고 있습니다.
	<br />
	앞으로 다음, 카카오, 네이버의 로그인을 지원할 예정입니다.
</p>

<a id="signin-google" href="@loginUrl"><img src="/Static/image/login/google/2x/44dp/Red signin_long_44dp/Red-signin_Long_base_44dp.png" /></a>

@section Css
{
	<style type="text/css">
		a#signin-google img {
			width: 200px;
		}
	</style>
}

@section Javascript
{
	<script type="text/javascript">
		$(document).ready(function () {
		});
	</script>
}

@section JavascriptRelease
{
}