@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="jkw">
	<title>Hello Jkw</title>
</head>
<body id="page-top" class="index">
	로그인 리다이렉트 페이지입니다.
	<br />
	IE 에서 잘 안꺼집니다... 왜일까요..
	<br />
	이 화면을 끄고, 홈페이지를 새로고침 해주세요.
	<br />
	감사합니다. ^^
	<script src="/Static/js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			window.opener.location.reload();
			self.close();
		});
	</script>
</body>
</html>
