@{
	Layout = "Layout.cshtml";
}

@if (false)
{
<div class="container">
	<p>
		안녕하세요! 전경원의 일기장입니다.
	</p>
<p>
저의 일기장을 찾아주셔서 감사합니다.
<br />
저는 고2 때부터 싸이월드에 꾸준히 일기를 써왔습니다.
<br />
그 때 공개는 하지 않고, 일촌에게만 공개했습니다.
<br />
	<span style="text-decoration: line-through;">지금도 마찬가지로 제 홈페이지 회원에게만 공개하려고 합니다.</span>
<br />
	<span style="text-decoration: line-through;">홈페이지 회원이 되려면 메뉴에서 로그인을 눌러주세요.</span>
<br />
	일기에 엄청 대단한 것이 쓰여있는건 아니지만 허용된 사람들에게만 보여주려고 합니다.
<br />
	저의 일상이 궁금하신 분은 연락 주세요.
<br />
<button class="btn-login">로그인</button>
</p>
</div>
}
else
{
    <div class="container">
        <p>일기장 서비스를 Azure로 옮겼습니다.</p>
        <p>아래 링크로 접속해주세요.</p>

        <a href="https://hellojkwcore.azurewebsites.net/">새로운 일기장</a>
    </div>
}

@section Css
{
<link href="/Static/css/jkwBlogHome.css" rel="stylesheet">
<link href="/Static/css/prism.css" rel="stylesheet">
}

@section Javascript
{
<script src="/Static/js/prism.js"></script>
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");
</script>
}
