@{
	Layout = "Layout.cshtml";
}

<div>
	<div id="diary-write">
		<h2>@Model.Date.ToString("yyyy.MM.dd") <span class="smaller">@Model.DayOfWeek</span></h2>
		<span id="date-desc">(오늘)</span>
		<div class="datepicker"></div>
		<div class="diary">
			<textarea id="diary-text"></textarea>
		</div>

		<button class="btn btn-success btn-diary-action" id="diary-write">저장</button>
	</div>
</div>

@section Css
{
<link href="/Static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style type="text/css">
	::selection {
		text-shadow: none;
		background-color: #c8c8c8;
	}

	h2 {
		margin-top: 0px;
	}

	div#diary-write {
		max-width: 600px;
	}

	#diary-text {
		width: 100%;
		min-height: 200px;
		max-height: 600px;
	}

	.btn-diary-action {
		float: right;
		margin-left: 5px;
	}

	.datepicker {
		display: none;
	}

	h2 {
		cursor: pointer;
		display: inline-block;
	}

		h2:hover {
			text-decoration: underline;
		}
</style>
}

@section Javascript
{
<script src="/Static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");

	$('h2').click(function () {
		if ($('div.datepicker').css('display') == 'none') {
			$('div.datepicker').css('display', 'block');
		} else {
			$('div.datepicker').css('display', 'none');
		}
	});

	$('#diary-text').keyup(function () {
		$(this).css('height', 'auto');
		$(this).height(this.scrollHeight);
	});

	$('button#diary-write').click(function () {
		$.post('/diary/write',
		{
			diaryName: '@Model.DiaryName',
			date: $('h2').attr('data-date'),
			text: $('#diary-text').val()
		},
		function (data) {
			if (data == 'success') {
				location.href = '/diary/@Model.DiaryName';
			} else {
				showAlert(data);
			}
		})
	});

	$('div.datepicker').datepicker({
		format: 'yyyy.mm.dd',
		todayBtn: 'linked',
		autoclose: true
	})
	.on('changeDate', function (e) {
		var date = $('div.datepicker').datepicker('getDate');
		setDate(date);
		$('div.datepicker').css('display', 'none');
	});

	function setDate(date) {
		var date8 = getDate8(date);
		$('h2').text(date8);
		$('h2').attr('data-date', date.getFullYear() * 10000 + (date.getMonth() + 1) * 100 + date.getDate());

		var today = new Date();
		var yesterday = new Date();
		yesterday.setDate(today.getDate() - 1);
		var beforeYesterday = new Date();
		beforeYesterday.setDate(yesterday.getDate() - 1);
		var tomorrow = new Date();
		tomorrow.setDate(today.getDate() + 1);

		var dateDesc = '';
		if (date8 == getDate8(today)) {
			dateDesc = '(오늘)';
		} else if (date8 == getDate8(yesterday)) {
			dateDesc = '(어제)';
		} else if (date8 == getDate8(beforeYesterday)) {
			dateDesc = '(그저께)';
		} else if (date8 == getDate8(tomorrow)) {
			dateDesc = '(내일)'; // 일기장에 내일이 웬말이냐
		}

		$('span#date-desc').text(dateDesc);
	}

	$(document).keydown(function () {
		// 날짜 이동 단축키가 있었으면 좋겠다
		//if (event.shiftKey && event.keyCode == 37) {
		//}
	});

	$(document).ready(function () {
		setDate(new Date());
		$('#diary-text').focus();
	});
</script>
}
