@{
    Layout = "Layout.cshtml";

    var theme = Model.Theme;
    var background = theme.CssText("Background");
    var diaryBackground = theme.CssText("DiaryBackground");
    var diaryFont = theme.CssText("DiaryFont");
    var diaryFontSize = theme.CssText("DiaryFontSize");
    var diaryFontColor = theme.CssText("DiaryFontColor");
    var diaryLineHeight = theme.CssText("DiaryLineHeight");
}

<div>
    <div id="diary-write">
        <div class="col-md-6" style="margin-bottom: 10px ; padding: 0;">
            <div class='input-group date' id='diary-date-group'>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type='text' class="form-control" id="diary-date" style="width: 100px;" />
                <span class="form-control" id="date-desc" style="width:100px;">월 (어제)</span>
            </div>
        </div>
        <div class="diary">
            <textarea id="diary-text"></textarea>
        </div>

        <button class="btn btn-success btn-diary-action" id="diary-write">저장</button>
    </div>
</div>

@section Css
{
    <link href="/Static/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <style type="text/css">
        ::selection {
            text-shadow: none;
            background-color: #c8c8c8;
        }

        div#diary-write {
            max-width: 600px;
        }

        #diary-text {
            width: 100%;
            min-height: 200px;
            max-height: 60vh;
        }

        .btn-diary-action {
            float: right;
            margin-left: 5px;
        }
    </style>

    <style type="text/css">
        body {
            @background
        }

        #diary-text {
            @diaryFont
            @diaryFontSize
            @diaryBackground
            @diaryFontColor
            @diaryLineHeight
        }

    </style>

    @Html.Raw(Model.Theme.FontLink)
}

@section Javascript
{
    <script src="/Static/bootstrap/js/moment.js"></script>
    <script src="/Static/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");

	$(function () {
		$('#diary-date-group').datetimepicker({
			useStrict: true,
			format: 'YYYY.MM.DD'
		}).on('dp.change', function (e) {
			setDate(e.date);
		});
	});

	$('#diary-text').keyup(function () {
		$(this).css('height', 'auto');
		$(this).height(this.scrollHeight);
	});

	$('button#diary-write').click(function () {
		$.post('/diary/write',
		{
			diaryName: '@Model.DiaryName',
			date: $('#diary-date').attr('data-date'),
			text: $('#diary-text').val()
		},
		function (data) {
			if (data == 'success') {
				location.href = '/diary/@Model.DiaryName';
			} else {
				showAlert(data);
			}
		})
	});

	function setDate(date) {
		var date8 = getDateDot(date);
		var daysStr = ['일', '월', '화', '수', '목', '금', '토'];
		//$('#diary-date').val(date8 + ' ' + daysStr[date.day()]);
		$('#diary-date').val(date8);
		$('#diary-date').attr('data-date', date.year() * 10000 + (date.month() + 1) * 100 + date.date());

		var today = moment(new Date());
		var yesterday = moment(new Date());
		yesterday.date(today.date() - 1);
		var beforeYesterday = moment(new Date());
		beforeYesterday.date(yesterday.date() - 1);
		var tomorrow = moment(new Date());
		tomorrow.date(today.date() + 1);

		var dateDesc = daysStr[date.day()] + ' ';
		if (date8 == getDateDot(today)) {
			dateDesc += '(오늘)';
		} else if (date8 == getDateDot(yesterday)) {
			dateDesc += '(어제)';
		} else if (date8 == getDateDot(beforeYesterday)) {
			dateDesc += '(그저께)';
		} else if (date8 == getDateDot(tomorrow)) {
			dateDesc += '(내일)'; // 일기장에 내일이 웬말이냐
		}

		$('span#date-desc').text(dateDesc);
	}

	$(document).keydown(function () {
		// 날짜 이동 단축키가 있었으면 좋겠다
		//if (event.shiftKey && event.keyCode == 37) {
		//}
	});

	$(document).ready(function () {
		setDate(moment(new Date()));
		$('#diary-text').focus();
	});
    </script>
}
