body {
	padding: 20px;
}

a:hover.split-str {
	background-color: #ccc;
}

div.ui.cards > .card.study-card {
	width: 70%;
}

a.split-str {
	color: black;
}

.card > div.content > div.header {
	margin-bottom: 10px;
}

div#div-mode {
	display: block;
}

div#div-navi {
	display: block;
}

div.split-str > div {
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	body {
		padding: 20px 10px;
	}

	div.ui.cards > .card.study-card {
		width: 95%;
	}
}