@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'Nanum Gothic', sans-serif;
	padding: 20px;
}

a:hover.split-str {
	background-color: #ccc;
}

.card.study-card {
	width: 70%;
	border: 1px solid gray;
	border-radius: 0.5em;
	margin: 1em 0;
	padding: 1em;
}

.card.study-card .header {
	font-weight: bold;
	font-size: larger;
}

a.split-str {
	color: black;
	cursor: pointer;
}

.card > div.content > div.header {
	margin-bottom: 10px;
}

div#div-mode {
	display: block;
}

div#div-navi {
	display: block;
}

div.split-str > div {
	display: inline-block;
}

div.card.study-card.page-break-avoid {
	page-break-inside: avoid;
}

@media only screen and (max-width: 767px) {
	body {
		padding: 20px 10px;
	}

	.card.study-card {
		width: 95%;
	}
}