<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>유태희, 전경원의 청첩장</title>
    <meta property="og:title" content="유태희, 전경원의 청첩장">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hellojkw.com/wedding">
    <meta property="og:image" content="http://hellojkw.com/jkw/wedding/wedding-preview.jpg">
    <meta property="og:description" content="2018.10.20 11:00 대방동성당">
    <meta name="author" content="유태희, 전경원">
    <meta name="description" content="2018.10.20 11:00 대방동성당">
    <link rel="icon" href="/jkw/others/card-favicon.png">
    <link rel="stylesheet" href="/Static/css/wedding.css">
</head>
<body>
    <img style="display: none" src="/jkw/wedding/wedding-preview.jpg" alt="" />
    <div class="main">
        <img class="pc" src="/jkw/wedding/wedding-main.jpg" alt=""/>
        <img class="mobile" src="/jkw/wedding/wedding-main-mobile.jpg" alt=""/>
    </div>
</body>
</html>