@{ 
    string previewImage = Model.PreviewImage + ".jpg";
    bool isCatholic = Model.IsCatholic;

    string siteBase = Model.SiteBase.Contains("hellojkw.com") ? Model.SiteBase.Replace("http://", "https://") : Model.SiteBase;

	string redirectUrl = siteBase + "/oauth/login";
    //string loginUrl = "https://accounts.google.com/o/oauth2/auth?client_id=381224079549-pmkekmoko01ss0uqle22q0btsam7nluh.apps.googleusercontent.com&redirect_uri=" + redirectUrl + "&scope=https://www.googleapis.com/auth/userinfo.email&response_type=code";
    string loginUrl = "https://accounts.google.com/o/oauth2/auth?client_id=381224079549-pmkekmoko01ss0uqle22q0btsam7nluh.apps.googleusercontent.com&redirect_uri=" + redirectUrl + "&scope=profile email&response_type=code";
    string siteBase = Model.SiteBase.Contains("hellojkw.com") ? Model.SiteBase.Replace("http://", "https://") : Model.SiteBase;

	string popupLoginUrl = siteBase + "/login";
	string popupLogoutUrl = siteBase + "/logout";

    string letterTaehee = Model.LetterTaehee;
    string letterKyungwon = Model.LetterKyungwon;
}
<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>유태희, 전경원의 청첩장</title>
    <meta property="og:title" content="유태희, 전경원의 청첩장">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hellojkw.com/wedding">
    <meta property="og:image" content="http://hellojkw.com/jkw/wedding/wedding-@previewImage">
    <meta property="og:description" content="2018.10.20 오전 11시 대방동성당">
    <meta name="author" content="유태희, 전경원">
    <meta name="description" content="2018.10.20 오전 11시 대방동성당">
    <link rel="icon" href="/jkw/others/card-favicon.png">
    <link rel="stylesheet" href="/Static/css/wedding.css">
    <link rel="stylesheet" href="/Static/css/wedding2.css">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body class="home">
    <img class="hidden" src="/jkw/wedding/wedding-@previewImage" alt="" />
    <div class="main">
        <img class="pc" src="/jkw/wedding/wedding-main.jpg" alt="" />
        <img class="mobile" src="/jkw/wedding/wedding-main-mobile.jpg" alt="" />
    </div>
    <div style="margin-top: 100vh;">
        <!-- 실질적인 청첩장. 모든 내용이 여기 있다. -->
        <div class="container" id="thankyou">
            <div class="background">
            </div>
            <div class="content">
                <div class="thankyou pc">
                    <span>아름다운 꽃에는</span>
                    <span>가꾸어 온 사람의 노고가 깃들어 있듯이</span>
                    <span>인생의 기쁜 순간에는</span>
                    <span>그동안 도와주신 분들에 대한 고마움을 느낍니다.</span>
                    <span>항상 감사한 마음으로 사랑하며 살겠다는</span>
                    <span>소중한 약속의 시간을 갖고자 하니</span>
                    <span>새로운 가족을 만들어가는 두 사람을</span>
                    <span>축복해주시기 바랍니다.</span>
                </div>
                <div class="thankyou mobile">
                    <span>인생의 기쁜 순간에는</span>
                    <span>그동안 도와주신 분들께</span>
                    <span>고마움을 느낍니다.</span>
                    <span>항상 감사한 마음으로</span>
                    <span>사랑하며 살겠다는</span>
                    <span>소중한 약속의 시간을 갖고자 하니</span>
                    <span>두 사람을</span>
                    <span>축복해주시기 바랍니다.</span>
                </div>
            </div>
        </div>
        <div class="container" id="couple2">
            <div class="background">
                <img class="pc" src="/jkw/wedding/pic2-pc.jpg" />
                <img class="mobile" src="/jkw/wedding/pic2-mobile7.jpg" />
            </div>
            <div class="content couple-content">
                @*<svg class="pc" style="position:absolute; width:100%;height:100%;">
                        <defs>
                            <mask id="mask" x="0" y="0" width="100%" height="100%">
                                <rect x="0" y="0" width="100%" height="100%" fill="#fff" />
                                <circle cx="36vw" cy="14vw" r="10vw" />
                                <circle cx="62vw" cy="10vw" r="10vw" />
                            </mask>
                        </defs>
                        <rect x="0" y="0" width="100%" height="100%" mask="url(#mask)" fill-opacity="0.1" />
                    </svg>*@
                <div>
                    <div class="person" id="person-right">
                        <div class="person-inner">
                            <div class="person-circle mobile">
                                <img src="/jkw/wedding/circle-jkw2.jpg" />
                            </div>
                            <div class="description">
                                <span class="my-name">경원</span>
                                @if (isCatholic)
                                {
                                    <span class="catholic catholic-name">극가스테파노</span>
                                    <span class="catholic parent-name">전대수 미카엘<br />황경욱 루치아<br />장남</span>
                                }
                                else
                                {
                                    <span class="parent-name">전대수 황경욱의 아들</span>
                                }
                                <div class="message ">
                                    <span>
                                        여전히 부족한 저를
                                        <br />
                                        믿어주는 여자를 만났습니다.
                                        <br />
                                        그녀와 함께 삶이란 퍼즐을 풀어보고 싶습니다.
                                        <br />
                                        재미있는 문제를 함께 푼다는 것이
                                        <br />
                                        기대되고 즐겁습니다.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="person" id="person-left">
                        <div class="person-inner">
                            <div class="person-circle mobile">
                                @*<img src="https://lh6.googleusercontent.com/-C8AOJgHh9x8/AAAAAAAAAAI/AAAAAAAAOjU/Nn3A3doJJHM/photo.jpg" />*@
                                <img src="/jkw/wedding/circle-taehee2.jpg" />
                            </div>
                            <div class="description">
                                <span class="my-name">태희</span>
                                @if (isCatholic)
                                {
                                    <span class="catholic catholic-name">아녜스</span>
                                    <span class="catholic parent-name">유재한 바오로<br />이향운 세실리아<br />차녀</span>
                                }
                                else
                                {
                                    <span class="parent-name">유재한 이향운의 딸</span>
                                }

                                <div class="message ">
                                    <span>
                                        저를 더 성장시키는 남자를 만났습니다.
                                        <br />
                                        혼자 해낸 것이라 생각했던 일들이
                                        <br />
                                        이 사람 덕분에 가능했음을 깨달았습니다.
                                        <br />
                                        이제 둘이 함께 성장하며 살아가고 싶습니다.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="pictures">
            <section id="couple-gallery" style="float: initial;">
                <h2>Gallery</h2>
                <div id="pc-gallery">
                    <ul class="small-block-grid-4 clearing-thumbs" data-clearing>
                        <li><img src="/jkw/wedding/pictures/YMMG2216.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG2352.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG2571.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG2626.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG2947.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3064.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3290.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3303.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3381.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3439.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3511.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3787.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG3939.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG4194.jpg" alt=""></li>
                        <li><img src="/jkw/wedding/pictures/YMMG4337.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="couple-mobile-slider-wrap">
                    <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto">
                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative">
                            <div class="couple-mobile-slider" style="width: 1615%; position: relative; transition-duration: 1s; transform: translate3d(0px, 0px, 0px)">
                                <img src="/jkw/wedding/pictures/YMMG2216.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG2352.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG2571.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG2626.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG2947.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3064.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3290.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3303.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3381.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3439.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3511.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3787.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG3939.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG4194.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                                <img src="/jkw/wedding/pictures/YMMG4337.jpg" alt="" style="float: left; list-style: none; position: relative; width: 100vw">
                            </div>
                        </div>
                    </div>
                    <div class="blocking" style="display: none"></div>
                </div>
            </section>
        </div>
        <div class="container" id="whenwhere">
            <section id="schedule" style="float: initial">
                <div class="schedule-content-wrap">
                    <h2>Schedule</h2>
                    <div class="row">
                        <div class="schedule-img-wrap">
                            <img src="/jkw/wedding/handshake1.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6">
                            <p>
                                <span id="when">
                                    10월 20일 토요일 오전 11시
                                </span>
                                <span id="where">
                                    대방동 성당
                                </span>
                                <span id="link-where">
                                    <a href="http://naver.me/IFeoQH0W" target="_blank">오시는 길</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container" id="letter">
            <div class="background"></div>
            <div class="content" id="letter-content">
                <h2>Letter</h2>
                @if (Model.isLogin)
                {
                    <select name="to" id="letter-to">
                        <option value="taehee">태희에게</option>
                        <option value="kyungwon">경원에게</option>
                    </select>
                    <textarea id="letter-text" maxlength="9999"></textarea>
                    <button id="letter-save">저장</button>
                    <button class="btn-logout">로그아웃</button>
                }
                else
                {
                    <span>로그인하면 편지를 쓸 수 있습니다.<br/>카톡으로 들어오신 분은 다른브라우저로 연 후 로그인해주세요.</span>
                    <p class="mobile"> <img src="/Static/image/login/kakaotalk_open_other_browser_0.jpg"/> </p>
                    <p class="mobile"> <img src="/Static/image/login/kakaotalk_open_other_browser_1.jpg"/> </p>
                    <button class="btn-login"><img src="/Static/image/login/google/red_signin_long/Red_signin_Long_base_44dp.png" /></button>
                }
            </div>
        </div>

    </div>

    <script type="text/javascript">
        //function showPic2(num) {
        //    var len = $('#couple .background img.mobile').length
        //    for (var i = 2; i <= len + 1; i++) {
        //        $(`#pic2-mobile${i}`).hide()
        //    }
        //    $(`#pic2-mobile${num}`).show()
        //}
        var letter = {
            'taehee': `@letterTaehee`,
            'kyungwon': `@letterKyungwon`,
        };

        $('#letter-to').change(() => {
            var to = $('#letter-to').val();
            setLetter(to)
        });

        function setLetter(to) {
            $('#letter-text').val(letter[to]);
        }

        setLetter('taehee');

        $('#letter-text').keyup(function () {
            $(this).css('height', 'auto');
            $(this).height(this.scrollHeight);
        });

        $('#letter-save').click(() => {
            var to = $('#letter-to').val();
            var letter = $('#letter-text').val();

            // wedding2.js 가 response 를 훔쳐간다... 일단 이렇게 하고 끝내자.
                $('#letter-save').text('저장되었습니다.');
                setTimeout(() => {
                    $('#letter-save').text('저장');
                }, 2000);

            $.post('/wedding/letters', { to, letter }, function(data) {
                //console.log(data);
                //$('#letter-save').text('저장되었습니다.');
                //setTimeout(() => {
                //    $('#letter-save').text('저장');
                //}, 2000);
            }, function() {
                //alert('실패. 문제가 있습니다. 최대 10000자 까지 저장할 수 있습니다.')
            });
        });

        $('.btn-login').click(() => {
            window.open('@popupLoginUrl', '', 'width=400px, height=400px, resizable=no, scrollbar=no, status=no;');
        });
        $('.btn-logout').click(function () {
            window.open('@popupLogoutUrl', '', 'width=400px, height=400px, resizable=no, scrollbar=no, status=no;');
        });
    </script>
    <script src="/Static/js/wedding2.js"></script>
    @if (!@Model.isDebug)
    {
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49135864-2', 'auto');
        ga('send', 'pageview');
    </script>
    }
</body>
</html>