.member-add-data {
	width: 80%;
	margin: auto;
}

div.member-operator {
	width: 20%;
	float: left;
}

.member-edit {
	display: none;
}

.meeting-edit {
	display: none;
}

.accounting-edit {
	display: none;
}

@media screen and (max-width: 768px) {
	.member-add-data {
		width: 70%;
	}

	div.member-operator {
		width: 100%;
	}
}