
section {
	padding: 200px 0 100px 0;
}

p.button-list {
	visibility: hidden;
}

th { 
	text-align: center;
}

td.align-left {
	text-align: left;
}

th.money {
	text-align: center;
}

td.money {
	text-align: right;
}
