.place {
	display: none;
}

div#room div {
	margin: 0;
	padding: 0;
}

div#room-right div.row {
	margin-bottom: 10px;
}

div#room-left {

}

.username-status {
	border-radius: 5px;
	padding: 10px;
}

div#room-left div.row {
	height: 20px;
}

div#room-left div.cell {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.room-name {
	display: inline;
}

ul#user-list {
	list-style: none;
	padding: 0;
}

img.userlist-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}