h1.blog-home-title a {
	color: #333;
}

.post a {
	color: #a92b2b;
	font-weight: bold;
}

a:hover, a:focus, a:active {
	color: black;
	text-decoration: none;
}

span.label a {
	color: white;
}

article.post span.post-category {
	display: inline;
	color: gray;
	margin-right: 5px;
}

article.post time.post-datetime {
	display: inline;
	color: gray;
	margin-left: 5px;
}

p.post-content
{
	/*height: 100px;
	overflow-y: scroll;*/
}

div#category-list a.btn
{
	margin-bottom: 5px;
}

div#category-list span.category-count
{
	margin-left: 5px;
}

div#tag-list
{
	margin-top: 20px;
}

div#tag-list a.btn
{
	margin-top: 3px;
}

@media(min-width:768px) {
	article.post h1.post-title {
		display: inline;
		margin-right: 10px;
		font-size: 30px;
	}

	div.post-content {
		margin-top: 10px;
	}

	hr.post-main {
		margin: 10px 55px;
	}
}

::selection {
    text-shadow: none;
	background-color: #c8c8c8;
}
