div#layout-content{
	padding-top: 50px;
}

div.fixed-alert {
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;

	background-color: #f0ad4e;
	cursor: pointer;

	text-align: center;
	color: white;
	font-size: 20pt;
	padding-top: 10px;

	display: none;
}

img.navbar-user-image {
	width: 100px;
	height: 100px;
}

a#navbar-user-image, a#navbar-user-image:hover, a#navbar-user-image:active, a#navbar-user-image:focus, a#navbar-user-image:visited {
	background-color: initial;
}

.dropdown ul.dropdown-menu {
	background-color: #444;
}

ul.dropdown-menu li a:hover {
	background-color: initial;
}

li.login-link {
	/*display: none;*/
}

.login-link-google img {
	width: 100px;
}

@media(max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #fed136;
	}
}

@media(min-width:768px) {
	div#layout-content{
		padding-top: 90px;
	}

	img.navbar-user-image {
		width: 40px;
		height: 40px;
	}

	a#navbar-user-image {
		padding-top: 0;
		padding-bottom: 0;
		cursor: pointer;
	}
}