div.group-list {
    max-width: 600px;
    margin: auto;
}

.home * {
    float: right;
}
.away * {
    float: left;
}
.team-data {
    margin: 5px 0;
}
.team-data * {
    margin: 0 10px;
}

.score {
    font-size: 2em;
    display: none;
}

.started .score {
    display: block;
}

.started .bottom-score, .bottom-score {
    display: none;
}

table.dashboard th, table.dashboard td {
    text-align: center;
}
table.dashboard th.number, table.dashboard td.number {
    text-align: right;
}

img.result-table {
    height: 30%;
}

p span {
    display: block;
}

li.match {
    min-height: 68px;
}

@media screen and (max-width: 700px){
    .team-data {
        display: inline-block;
    }
    .team-data * {
        display: block;
    }
    .home * {
        float: none;
    }
    .away * {
        float: none;
    }
    .started .inside-score, .inside-score {
        display: none;
    }
    .score {
        display: none;
    }
    .started .bottom-score {
        display: block;
    }
}

